{% extends 'django_knowledge/inner.html' %}

{% load i18n %}

{% load knowledge_tags %}

{% block title %}搜索{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">
  {# dunno how to do translation on this nasty block... #}
  <h3>搜索结果。{% if search %} 对于 <em>{{ search }}</em>{% endif %}{% if category %} 在 <em>{{ category.title }}</em> category{% endif %}:</h3>
  <hr />
  <ol class="question-list">
    {% for question in questions.object_list %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a> <small class="quiet">&nbsp;by {{ question.get_name }}</small></li>
    {% endfor %}
  </ol>

  {% if not questions.paginator.count %}
    <p class="center"><em>{% trans "没有匹配的结果。" %}</em></p>
  {% endif %}
  
  <hr class="light"/>

  <div class="center">
    <strong>
    {% if questions.has_previous %}
      <a href="?{% page_query request questions.previous_page_number %}">&larr; {% trans "previous" %}</a>
    {% endif %}

    &nbsp; {% blocktrans with number=questions.number pages=questions.paginator.num_pages %}{{ number }} / {{ page }}{% endblocktrans %} &nbsp;

    {% if questions.has_next %}
      <a href="?{% page_query request questions.next_page_number %}">{% trans "next" %} &rarr;</a>
    {% endif %}
    </strong>
  </div>
</div>

{% if form and paginator.count < 5 %}
  <div class="dk-widget">
    <h3>{% trans "提问" %}</h3>
    <hr />

    {% url knowledge_ask as form_url %}

    {% include "django_knowledge/form.html" with submit_value="提交请求" submit_and="（你应该能很快得到反馈）" submit_url=form_url %}
  </div>
{% endif %}

{% endblock knowledge_widgets %}
