{% load i18n %}

{% if my_questions %}

  <h4>{% trans "我的问题" %}</h4>
  <hr />

  <ul>
    {% for question in my_questions %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
    {% endfor %}
  </ul>

  <br />
    
{% endif %}

<h4>{% trans "分类" %}</h4>
<hr />

<ul>
  {% for category in categories %}
    <li><a href="{% url knowledge_list_category category.slug %}">{{ category.title }}</a></li>
  {% endfor %}
</ul>

<br />

<h4>{% trans "导航" %}</h4>
<hr />

<ul>
  <li><a href="{% url knowledge_ask %}">{% trans "进行提问" %}</a></li>
  <li><a href="{% url knowledge_index %}">{% trans "返回主页" %}</a></li>
</ul>
