<!DOCTYPE html> 
<html>
<head>
  <meta charset="utf-8">
  <title>城院师生教学交互系统 |
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="/site_media/css/bootstrap.css"
	type="text/css" />
  <link rel="stylesheet" href="/site_media/css/bootstrap-responsive.css"
	type="text/css" />
  <link rel="stylesheet" href="/site_media/css/docs.css"
	type="text/css" />
    {% block external %}{% endblock %}
</head>
<body data-offset="50" data-target=".subnav" data-spy="scroll">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	<a class="brand" href="#">城院师生教学交互系统</a>
	<ul class="nav">
	  <li>
	    <a href="/">首页</a>
	  </li>
	  {% if user.is_authenticated %}
	    <li><a href="/main/">我的主页</a></li>
	    <li><a href="/knowledge/">城院知识堂</a></li>
	    <li><a href="/logout">退出登录</a></li>
	    <li></li>
	  {% else %}
	    <li><a href="/login/">登录</a></li>
	  {% endif %}
	</ul>
      </div>
    </div>
  </div>

  <div class="container">
    <header id="overview" class="jumbotron subhead">
	{% block head %}{% endblock %}
    </header>
    
    <div class="row" id="content">
      <div class="notice"> </div>
      
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
	</ul>
      {% endif %}
	
      {% block content %}{% endblock %}
    </div>
    
  </div>



  <script type="text/javascript" src="/site_media/js/jquery.js"></script>
  <script src="/site_media/js/google-code-prettify/prettify.js"></script>
  <script src="/site_media/js/bootstrap-transition.js"></script>
  <script src="/site_media/js/bootstrap-alert.js"></script>
  <script src="/site_media/js/bootstrap-modal.js"></script>
  <script src="/site_media/js/bootstrap-dropdown.js"></script>
  <script src="/site_media/js/bootstrap-scrollspy.js"></script>
  <script src="/site_media/js/bootstrap-tab.js"></script>
  <script src="/site_media/js/bootstrap-tooltip.js"></script>
  <script src="/site_media/js/bootstrap-popover.js"></script>
  <script src="/site_media/js/bootstrap-button.js"></script>
  <script src="/site_media/js/bootstrap-collapse.js"></script>
  <script src="/site_media/js/bootstrap-carousel.js"></script>
  <script src="/site_media/js/bootstrap-typeahead.js"></script>
  <script src="/site_media/js/application.js"></script>

</body>
</html>
