{% extends "base.html" %}

{% block title %}使用{% endblock %}

{% block head %}
  <h1>欢迎使用城院师生教学交互系统</h1>
  
  <p class="lead">用于辅助教学，同时让教师在课堂上对学生有更为正确的认识，并能更客观地对学生进行评价判断。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li>
	<a><strong>按条件排序:</strong></a>
      </li>
      <li>
	<a href="{{ courseid }}">学号</a>
      </li>
      <li class="dropdown">
	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	  评价
	  <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	  <li class="">
	    <a href="?query=most-excellence">优秀</a>
	  </li>
	  <li class="">
	    <a href="?query=most-good">良好</a>
	  </li>
	  <li class="">
	    <a href="?query=most-bad">一般</a>
	  </li>
	</ul>
      </li>
      <li class="dropdown">
	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	  考勤
	  <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	  <li class="">
	    <a href="?query=most-absent">旷课</a>
	  </li>
	  <li class="">
	    <a href="?query=most-leave">请假</a>
	  </li>
	  <li class="">
	    <a href="?query=most-come-late">迟到</a>
	  </li>
	</ul>
      </li>
      <li class="dropdown">
	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	  点评数
	  <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	  <li class="">
	    <a href="?query=most-count">多到少</a>
	  </li>
	  <li class="">
	    <a href="?query=least-count">少到多</a>
	  </li>
	</ul>
      </li>
      <li>
	<a href="?query=most-comment">评论数</a>
      </li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li>
	<a><strong>按条件点名:</strong></a>
      </li>
      <li class="dropdown">
	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	  随机选取
	  <b class="caret"></b>
	</a>

	<ul class="dropdown-menu">
	  <li class="">
	    <a href="?select=random-1">1人</a>
	  </li>
	  <li class="">
	    <a href="?select=random-2">2人</a>
	  </li>
	  <li class="">
	    <a href="?select=random-3">3人</a>
	  </li>
	  <li class="">
	    <a href="?select=random-4">4人</a>
	  </li>
	</ul>
      </li>
      <li class="dropdown">
	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	  最近评价情况
	  <b class="caret"></b>
	</a>

	<ul class="dropdown-menu">
	  <li class="">
	    <a href="?select=last-excellence-0">优秀</a>
	  </li>
	  <li class="">
	    <a href="?select=last-good-0">良好</a>
	  </li>
	  <li class="">
	    <a href="?select=last-bad-0">一般</a>
	  </li>
	</ul>
      </li>
            <li class="dropdown">
	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
	  最近考勤情况
	  <b class="caret"></b>
	</a>

	<ul class="dropdown-menu">
	  <li class="">
	    <a href="?select=last-absent-0">旷课</a>
	  </li>
	  <li class="">
	    <a href="?select=last-come-late-0">迟到</a>
	  </li>
	  <li class="">
	    <a href="?select=last-leave-0">请假</a>
	  </li>
	</ul>
      </li>
    </ul>
  </div>

  <section id="blank-line"></section>
{% endblock %}

{% block content %}
  {% if selected_group %}
    <div class="row">
      <p class="lead">选择结果：</p>
      {% for appra in selected_group %}
        <div class="span3">
	  <div class="hero-unit">
	    <p>
	      <span class="label">姓名：</span>
	      {{ appra.stu_name }}
	    </p>
	    <p>
	      <span class="label">学号：</span>
	      {{ appra.stu_id }}
	    </p>
	    <p>
	      <span class="label">评价次数：</span>
	      {{ appra.appr_counter }}
	    </p>
	    <p>
	      <span class="label">上一次评价：</span>
	      {% if appra.last_appr == "excellence" %}
	        优秀
	      {% endif %}
	      {% if appra.last_appr == "good" %}
	        良好
	      {% endif %}
	      {% if appra.last_appr == "bad" %}
	        一般
	      {% endif %}
	      {% if appra.last_appr == "absent" %}
	        旷课
	      {% endif %}
	      {% if appra.last_appr == "leave" %}
	        请假
	      {% endif %}
	      {% if appra.last_appr == "come_late" %}
	        迟到
	      {% endif %}
	      {% if not appra.last_appr %}
	        无
	      {% endif %}
	    </p>
	    <p>
	      <div id="appraise{{ appra.stu_id }}" class="modal hide fade" style="display: none;">
		<div class="modal-header">
		  <button class="close" data-dismiss="modal">×</button>
		  <h3>对 {{ appra.stu_name }} 进行点评</h3>
		</div>
		<div class="modal-body">
		  <form class="form-horizontal" action="../appraisal-poll/{{ appra.slug }}" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    <fieldset>
		      <div class="control-group">
			<label class="control-label">简单评价</label>
			<div class="controls">
			  <label class="radio">
			    <input id="optionsRadios1" type="radio" checked="" value="excellence" name="appraisal">
			    优秀
			  </label>
			  <label class="radio">
			    <input id="optionsRadios2" type="radio" value="good" name="appraisal">
			    良好
			  </label>
			  <label class="radio">
			    <input id="optionsRadios3" type="radio" value="bad" name="appraisal">
			    一般
			  </label>
			  <label class="radio">
			    <input id="optionsRadios3" type="radio" value="absent" name="appraisal">
			    旷课
			  </label>
			  <label class="radio">
			    <input id="optionsRadios3" type="radio" value="leave" name="appraisal">
			    请假
			  </label>
			  <label class="radio">
			    <input id="optionsRadios3" type="radio" value="come_late" name="appraisal">
			    迟到
			  </label>
			</div>
		      </div>
		      <div class="control-group">
			<label class="control-label" for="textarea">评论</label>
			<div class="controls">
			  <input name="comment" id="textarea" class="input-xlarge" type="text">
			</div>
		      </div>
		      <div class="form-actions">
			<button class="btn btn-primary" type="submit">提交评论</button>
			<a class="btn" data-dismiss="modal" href="#">取消</a>
		      </div>
		    </fieldset>
		  </form>
		</div>
	      </div>
	      <a class="btn btn-primary" href="#appraise{{ appra.stu_id }}" data-toggle="modal">
		进行点评
	      </a>
	    </p>

	    <p>
	      <div id="lookup-comments{{ appra.stu_id }}" class="modal hide fade" style="display: none;">
		<div class="modal-header">
		  <button class="close" data-dismiss="modal">×</button>
		  <h3>{{ appra.stu_name }} 过往评价</h3>
		</div>
		<div class="modal-body">
		  <h4>评价汇总：</h4>
		  <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
		  {% if appra.comments %}
  		    <h4>过往评论：</h4> 
		    {% for comment in appra.comments %}
		      <div class="legend-unit">
			<p>{{ comment.comment }}</p>
			<span class="label">评价于：</span>{{ comment.datetime }}
		      </div>
		    {% endfor %}
		  {% else %}
		      <div class="legend-unit">
			<p><h4>暂时还没有对该同学的评论。</h4></p>
		      </div>
		  {% endif %}
		</div>
		<div class="modal-footer">
		  <a class="btn" data-dismiss="modal" href="#">关闭</a>
		</div>
	      </div>
	      <a class="btn btn-info" href="#lookup-comments{{ appra.stu_id }}" data-toggle="modal">
		查看过往评价
	      </a>
	    </p>
	  </div>
	</div>
      {% endfor %}
    </div>
  {% endif %}

<!-- ----------------------------- -->

  <div>
    <p class="lead">{{ coursename }} 课程共有 {{ amount }} 人。</p>
    {% for appra in appraisals %}
      <div class="span3">
	<div class="hero-unit">
	  <p>
	    <span class="label">姓名：</span>
	    {{ appra.stu_name }}
	  </p>
	  <p>
	    <span class="label">学号：</span>
	    {{ appra.stu_id }}
	  </p>
	  <p>
	    <span class="label">评价次数：</span>
	    {{ appra.appr_counter }}
	  </p>
	  <p>
	    <span class="label">上一次评价：</span>
	    {% if appra.last_appr == "excellence" %}
	      优秀
	    {% endif %}
	    {% if appra.last_appr == "good" %}
	      良好
	    {% endif %}
	    {% if appra.last_appr == "bad" %}
	      一般
	    {% endif %}
	    {% if appra.last_appr == "absent" %}
	      旷课
	    {% endif %}
	    {% if appra.last_appr == "leave" %}
	      请假
	    {% endif %}
	    {% if appra.last_appr == "come_late" %}
	      迟到
	    {% endif %}
	    {% if not appra.last_appr %}
	      无
	    {% endif %}
	  </p>
	  <p>
	    <div id="appraise{{ appra.stu_id }}" class="modal hide fade" style="display: none;">
	      <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>对 {{ appra.stu_name }} 进行点评</h3>
	      </div>
	      <div class="modal-body">
		<form class="form-horizontal" action="../appraisal-poll/{{ appra.slug }}" method="post" enctype="multipart/form-data">
		  {% csrf_token %}
		  <fieldset>
		    <div class="control-group">
		      <label class="control-label">简单评价</label>
		      <div class="controls">
			<label class="radio">
			  <input id="optionsRadios1" type="radio" checked="" value="excellence" name="appraisal">
			  优秀
			</label>
			<label class="radio">
			  <input id="optionsRadios2" type="radio" value="good" name="appraisal">
			  良好
			</label>
			<label class="radio">
			  <input id="optionsRadios3" type="radio" value="bad" name="appraisal">
			  一般
			</label>
			<label class="radio">
			  <input id="optionsRadios3" type="radio" value="absent" name="appraisal">
			  旷课
			</label>
			<label class="radio">
			  <input id="optionsRadios3" type="radio" value="leave" name="appraisal">
			  请假
			</label>
			<label class="radio">
			  <input id="optionsRadios3" type="radio" value="come_late" name="appraisal">
			  迟到
			</label>
		      </div>
		    </div>
		    <div class="control-group">
		      <label class="control-label" for="textarea">评论</label>
		      <div class="controls">
			<input name="comment" id="textarea" class="input-xlarge" type="text">
		      </div>
		    </div>
		    <div class="form-actions">
		      <button class="btn btn-primary" type="submit">提交评论</button>
		      <a class="btn" data-dismiss="modal" href="#">取消</a>
		    </div>
		  </fieldset>
		</form>
	      </div>
	    </div>
	    <a class="btn btn-primary" href="#appraise{{ appra.stu_id }}" data-toggle="modal">
	      进行点评
	    </a>
	  </p>

	  <p>
	    <div id="lookup-comments{{ appra.stu_id }}" class="modal hide fade" style="display: none;">
	      <div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>{{ appra.stu_name }} 过往评价</h3>
	      </div>
	      <div class="modal-body">
		<h4>评价汇总：</h4>
		
		<p>评价：</p>
		<div class="legend-unit">
		  <span>
		    优秀：
		    <span class="badge badge-info">{{ appra.excellence_counter }}</span>
		  </span>
		  <span class="offset1">
		    良好：
		    <span class="badge badge-success">{{ appra.good_counter }}</span>
		  </span>
		  <span class="offset1">
		    一般：
		    <span class="badge badge-warning">{{ appra.bad_counter }}</span>
		  </span>
		</div>
		<p>考勤：</p>
		<div class="legend-unit">
		  <span>
		    旷课：
		    <span class="badge badge-inverse">{{ appra.absent_counter }}</span>
		  </span>
		  <span class="offset1">
		    请假：
		    <span class="badge badge-warning">{{ appra.leave_counter }}</span>
		  </span>
		  <span class="offset1">
		    迟到：
		    <span class="badge">{{ appra.come_late_counter }}</span>
		  </span>
		</div>
		<h4>过往评论：</h4> 
		{% if appra.comments %}
		  {% for comment in appra.comments %}
		    <div class="legend-unit">
		      <p>{{ comment.comment }}</p>
		      <span class="label">评价于：</span>{{ comment.datetime }}
		    </div>
		  {% endfor %}
		{% else %}
		  <div class="legend-unit">
		    <p><h4>暂时还没有对该同学的评论。</h4></p>
		  </div>
		{% endif %}
	      </div>
	      <div class="modal-footer">
		<a class="btn" data-dismiss="modal" href="#">关闭</a>
	      </div>
	    </div>
	    <a class="btn btn-info" href="#lookup-comments{{ appra.stu_id }}" data-toggle="modal">
	      查看过往评价
	    </a>
	  </p>
	</div>
      </div>
    {% endfor %}
  </div>

{% endblock %}    
